@model ASE_UI.Models.AseViewModel
@{
    ViewData["Title"] = "Comment Portal";
}

@if (Model == null || Model.Token == null || string.IsNullOrEmpty(Model.Token))
{
    @Html.ActionLink("LogIn", "Auth")
}
else
{
    <h3>Loggedin</h3>

    @using (Html.BeginForm("GetComment", "Home"))
    {
        <p>CountryCode</p>
        <p>@Html.TextBox("CountryCode")</p>
        <p>State</p>
        <p>
            @Html.TextBox("State") <br />
            <input type="submit" value="CheckComment" />
        </p>
    }

    @using (Html.BeginForm("PostComment", "Home"))
    {
        <p>CountryCode</p>
        <p>@Html.TextBox("CountryCode")</p>
        <p>State</p>
        <p>@Html.TextBox("State")</p>
        <p>Comment</p>
        <p>
            @Html.TextBox("Comment") <br />
            <input type="submit" value="PostComment" />
        </p>
    }

    @using (Html.BeginForm("Clear", "Home"))
    {
        <input type="submit" value="Clear" />
    }

    @Html.DisplayFor(m => m.CommentResult)
}