@model ASE_UI.Models.AseViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null || Model.Token == null || string.IsNullOrEmpty(Model.Token))
{
    @Html.ActionLink("LogIn", "Auth")
}
else
{
    <h3>Loggedin</h3>
    @Html.ActionLink("LogOut", "LogOut")

    <dev>
        @using (Html.BeginForm("GetRecommendation", "Home"))
        {
            <p>CountryCode</p>
            <p>@Html.TextBox("CountryCode")</p>
            <p>State</p>
            <p>
                @Html.TextBox("State") <br />
                <input type="submit" value="GetRecommendations" />
            </p>
        }

        @using (Html.BeginForm("Clear", "Home"))
        {
            <input type="submit" value="Clear" />
        }

        @Html.DisplayFor(m => m.RecommendationResult)
    </dev>
}
